#table
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: darkslategray;
    }
     th {
        
        padding: 0px;

    }
#form
    {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
body{
    background-color:mediumaquamarine;
    font-size: x-large;
    
    }
#para {
    text-align: center;
    color: darkgreen;
}
h4{
    color: darkblue;
}